@mixin button($color: #00b266, $hover-color: #008048) {
  height: 24px;
  min-width: 24px;
  padding: 3px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  border: none;
  color: $color;

  i {
    font-size: 18px;
  }

  &:active, &.active {
    color: $color;
  }

  &:hover {
    color: $hover-color;
  }
}